*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif; 
}
/* .listaMenu li{
    list-style: none;https://github.com/lesep28/examen-final-FE1
    text-decoration: none;
    
} */

a:link{
    text-decoration: none; /* Quita subrayado a elementos de listas con href */
}


body{
    /* height: 900px; */
    display: flex; 
    flex-direction: column;
    height: auto;
    width: auto;
}

header{
    display: flex;
    align-items: center;

    /* height: 2rem;  */
    height: auto;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

header > :nth-child(2) {
    display: none;
}

.cajaBotones{
    height: 4rem;
    width: 20%;
    padding: 0.5rem;
} 


.botones{
    /* border:5px solid red; */
    border-radius: 50px;
    background: #8B48BF;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color:white;
    cursor: pointer;
    font-size: 90%;
    height:100%;
    width:80%;
    text-align: center;

   
    
}

.listaMenu{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    width: 60%;  
    padding-left: 1%;
}

.logo{
    width: 12%;
}

.listaMenu li{
    margin-left: 0.5%;
}

ul li{
    list-style: none;
}

.container{
    /* height: 120rem; */
    /* height: auto; */

    /* min-height: 100%; */
}

.firstBox{
    display: flex;
    height: 20%;
    width: 97%; 
    padding-bottom: 5rem;
    margin: auto;
    border: yellow 2px solid;;
    

}

.mainImage{
    width: 100%;
    size: cover;
    border: red solid 2px;
    flex: 1;

}

.mainImage img{
    max-width: 100%;
    transition: all 0.01s;
    height: auto;
}

.firstText{
    text-align:right;
    font-size: 2vw;
    flex: 1;
}

h1{
    font-size:5vw;
    color:#232C50;
}

#btnFirstBox{
    display: inline-block;
    align-self: right;
    width: 12rem;
}

.barra{
    display:flex;
    align-items: center;
    background-color: #8B48BF;
    color:white;
    justify-content: center;
    padding: 1rem;
}

#barra2{
    display: flex;
    justify-content: space-around;
}

h2{
    font-size: 3vw;
    padding: 2rem;
    /* border: 2px solid blue; */
    font-weight: 500px;
    line-height: 1.1;
    letter-spacing: -0.2px;
    width: 40%;
}

.bestMonth{
    text-align: center;
    width: 100%;
    position: relative;
    color:#232C50;
    font-weight: bold;
    font-size: 3vw;
    letter-spacing: -2px;
    

}

.textoBarra{
    width:30%;
}

.features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    padding-left: 7rem;
 
    background-color: rgb(249, 249, 249);
    margin-bottom: 5vw;

    margin: auto;
}

.feature{
    display: flex;
    flex-direction: column;
    width: 40%;
    color: #B3B2B7;
    padding-bottom: 3rem;
}

/* OJOOOO     REPASAR ocultamos por vista inadecuada */
.featureSubtitle{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    position: relative;
    left: -10vw;
 
    
}
.number{
    border-radius: 50px;
    width: 10rem;
    height: 80%;
    
}

h3{
    color: #323851;
    padding-bottom: 1.5rem;
   
}

.sectionPlayers{
    text-align: center;
    /* margin: auto; */
    width: 100%;
    height: 30%;
    /* padding-bottom: 10rem; */
  
}

.players{
    padding-bottom: 1rem;
    margin-top: 5vw;
}


.players > :nth-child(1),
.players > :nth-child(3)
{
    display: none;

}


.player{
    background-color: rgb(249, 249, 249);
    margin: auto;
    padding: 1rem;
    width: 90%;
    position:15rem;
}

.foto{
    padding-top: -3rem;
    position: relative;
    top:-3rem;
}

h4{
    color: #3F4868;
    padding-bottom: 1rem;
}
#more{
    display: inline-block;
    margin-bottom: 2rem;
    align-self: center;
}

#btnMore{
    padding: 0.8rem 1rem 1rem;
}

#go{
    background-color:#FFFFFF;
    color: #8B48BF;
}

footer{
    background-color:black;
    color: white;
    height: auto;
    width: 100%;
}

.footerContent{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.icons{
    width:12%;
    /* border: yellow solid 2px; */
    
}

.mediaIcons{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 50%;
    /* border: orange solid 2px; */
    padding-top: 3%; 
}

.listaFooter{
    width: 90%;
    height: 50%;
    display: flex;
    /* border: 3px solid blue; */
}


.listaFooter ul{
    /* border: 3px solid red; */
    padding-left: 7vh;
    font-size: 2.5vh;
        
}

.listaFooter ul li{
    padding-bottom: 1rem;
}

.listaFooter ul li a{
    color:white; 
    /* font-size: 1rem; */
    /* font-weight: 400; */
    /* line-height: normal; */
}

/* .listaFooter ul li:nth-last-child(-n+3) {
} */


#searchButton{
    height: 2rem;
    width: 5rem;
}

form{
    padding-right: 5%;
}

input[type="text"]{
    border-radius: 2vw;
    height: 7vw;
    /* padding: 1rem; */
    width: 12rem;
}


.copyright{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 8.5%;
    padding-bottom: 2rem;
}

/* ------------ */
/* VISTA MOBILE */
/* ------------ */

@media (max-width: 550px) {

    *{
        margin: 0;
        padding: 0;
        flex-direction: column;
        box-sizing: border-box;
    }


    .body{  
        height: auto;
        align-items: center;
     
    }

      /* Encabezado vista mobile */

    header{
        display: flex; 
        flex-direction: row;
        background-color: #8B48BF;
        width: 100%;
        padding: 2vw 0;
   
    }

    header .cajaBotones{
        display: none;
    }


     header > :nth-child(2) {
        cursor: pointer;
       display: flex;
        
    } 

    .listaMenu {
        display: none;
    }


    /* Primera sección */

    
    .firstText{
        width: 80%;
        text-align:right;
        font-size: 1.2rem;
        margin: auto;
    }

    .cajaBotones{
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .botones{

    }


    h1{
        font-size: 9vw;
    }

    .barra h2,
    .barra .textoBarra{
        align-content: start;
        width: 100%;
        margin-left: 0;
    }

    /* Seccion features */

    .features{
        padding: 1rem;

    }

    .feature{
        margin: auto;
        width: 90%;
    }

    .featureSubtitle{
        background-color: #8B48BF4D;
        display: flex;
        flex-direction: row;
        position: static;
     
    }

    .number{
        border-radius: 50px;
     
    }


    /* Seccion de jugadores */

    .player{
        width: 80%;
    }


    #barra2 h2{
       text-align: center;
       width: 80%;
    }

    /* Pie de página */

   .footerContent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; /* Centra horizontalmente los elementos dentro de .footerContent */
        align-content: center;
        justify-content: space-around
        }

        form{
            width: 100%;
            text-align: center;
           
        }



        input[type="text"]{
            border-radius: 6vw;
            height: 11vw;
             padding: 2vw; */
            
        }

    .listaFooter{
        width: 80%;
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 5vw 0;
    }


    .list{
        width: 50%;
    }

    .icons{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        line-height: 6;
        margin: auto;
        width: 90%;
    }

    .mediaIcons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 20%;
        width: 90%;
    }

    .copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }

 }
